Package: telemetryjet-cli
Version: 0.1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: TelemetryJet Team <telemetryjet@gmail.com>
Homepage: https://www.telemetryjet.com/
Depends:
Description: TelemetryJet CLI Information
 The TelemetryJet CLI is a utility for monitoring and controlling
 embedded hardware from your terminal. Pipe data from input devices
 into files, or stream directly to a TelemetryJet server.
 .
 See https://docs.dev.telemetryjet.com/cli/ for documentation and guides.
